@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

  :root {
    --primary-color: #86e646;
    --secondary-color: #894857;
    --accent1-color: #759930;
    --accent2-color: #508374;

    --heading-font: 'sans', serif;
    --paragraph-font: 'sans', serif;

    --nav-background-color: #873936;
    --nav-link-color: #adab37;
    --nav-hover-link-color: #256847;
    --nav-hover-background-color: #1111a3;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    font: var(--heading-font);
    color: var(--primary-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-sarif;
}

p {
    font-size: var(--paragraph-font);
    
}

nav {
    display: flex;
    background-color: var(--nav-background-color);
    text-align: right;
    margin-left: 400px;
    border-top: 0;
    width: 50rem;
}

nav a {
    flex: 1 1 100%;
    display: black;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 20px;
    margin-left: 50px;
}

nav a :hover {
    color: rgb(230, 220, 218);
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    grid-column: 2/3;
    margin: 1rem;
    max-width: 840;
}


section h2 {
    display: flex;
    margin-left: 38rem;
    text-align: center;
    color:#70ec1d;
    align-content: center;
}

.sociallinks {
    display: flex;
    grid-gap: 0.1rem;
    grid-template-rows: auto auto auto;
}

footer {
    border-top: 1px solid #333;
    
}

/* CSS STYLING FOR CONTACT-US PAGE (CONTACT.HTML)*/

fieldset {
    width: 80rem;
    padding-bottom: 2rem;
}

legend {
    font-size: 1.5rem;
}

.image {
    display: flex;
    grid-gap: 5rem;
    justify-content: space-around;
}

img {
    width: 300px;
    height: 20rem;
    justify-content: space-around;
}

.history {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    align-content: center;
}

h5 {
    caption-side: bottom;
    margin-left: 5rem;
    font-weight: bold;
}

h3 {
    margin-left: 38rem;
}

.field {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.raft {
    display: flex;
    grid-gap: 4rem;
}

.img {
    padding-top: 9rem;
    margin-right: 4rem;
}

.wireframe a{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(177, 14, 109);
}

.wireframe a:hover {
    color: rgb(209, 12, 12)
}








