@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

  :root {
    --primary-color: #86e646;
    --secondary-color: #894857;
    --accent1-color: #759930;
    --accent2-color: #508374;

    --heading-font: 'sans', serif;
    --paragraph-font: 'sans', serif;

    --nav-background-color: #873936;
    --nav-link-color: #adab37;
    --nav-hover-link-color: #256847;
    --nav-hover-background-color: #1111a3;
}


header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    font: var(--heading-font);
    color: var(--primary-color);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-sarif;
}

p {
    font-size: var(--paragraph-font);
    
}

nav {
    display: flex;
    background-color: var(--nav-background-color);
    text-align: right;
    margin-left: 400px;
    border-top: 0;
    width: 50rem;
}

nav a {
    flex: 1 1 100%;
    display: black;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 20px;
    margin-left: 50px;
}

figure {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.image img {
    justify-content: space-between;
}

nav a :hover {
    color: rgb(230, 220, 218);
    font-weight: 700;
    text-decoration: underline;
}

.hero {
    grid-column: 2/3;
    margin: 1rem;
    max-width: 840;
}


section h2 {
    display: flex;
    margin-left: 38rem;
    text-align: center;
    color:#70ec1d;
    align-content: center;
}

.sociallinks {
    border-top: #333;
    margin-left: 32rem;
    display: flex;
    grid-gap: 0.1rem;
    grid-template-rows: auto auto auto;
}

footer {
    border-top: 1px solid #333;
    
}

/* CSS STYLING FOR CONTACT-US PAGE (CONTACT.HTML)*/

fieldset {
    width: 80rem;
    padding-bottom: 2rem;
}

legend {
    font-size: 1.5rem;
}

.image {
    display: flex;
    grid-gap: 5rem;
    justify-content: space-around;
}

img {
    width: 300px;
    height: 20rem;
    justify-content: space-around;
}

.history {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    align-content: center;
}

h5 {
    caption-side: bottom;
    margin-left: 5rem;
    font-weight: bold;
}

h3 {
    margin-left: 35rem;
}

.field {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.raft {
    display: flex;
    grid-gap: 4rem;
}

.img {
    padding-top: 9rem;
    margin-right: 4rem;
}


/* CSS STYLING FOR TRIP.HTML PAGE*/


.main-image img {
    width: 82rem;
    height: 500px;

}

.flexbox-container {
    width: 82rem;
    display: flex;
    background-color: rgb(248, 248, 245);
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}


.flexbox-item {
    height: 400px;
    width: 20rem;
    margin: 10px;
    border: 3px solid #333;
    background-color: rgb(233, 211, 211);
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 100px;
}

.flexbox-item-3 {
    min-height: 100px;
}

h4 {
    font-size: 0.9rem;
}

.flexbox-item-1 img{
    width: 20rem;
    height: 12rem;
}

.flexbox-item-2 img{
    width: 20rem;
    height: 12rem;
}

.flexbox-item-3 img{
    width: 20rem;
    height: 12rem;
}


table {
    width: 82rem;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
  }
  
  caption {
    font-size: 1rem;
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: left;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }

tr {
   text-align: center;
}

header .copy {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
}

/* CSS STYLING FOR RAFTING SITE HOME PAGE*/

.body {
    margin: 0;
    padding: 0;
    background-image: url("../images/blue.jpg");
    background-size: cover;
}

.header-background {
    background-image: url("../images/green-nature.jpg");
    background-size: cover;
    width: 200rem;
    height: 3rem;
    margin-top: 0px;
    margin-bottom:10rem;

}

form {
    width: 300px;
    height: 400px;
    margin-left: 6rem; 
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: #eee;

}

.set {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 170px;
    float: right;
    margin-left: 15rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    padding: 0.3rem;
    font-size: 1.1rem;
    width: 252px;
    height: 2rem;
    border-radius: 3px;
    text-align: center;
}

.check-out-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 8rem;
    padding: 0.5rem;
    color:#eee;
    background-color:  rgb(10, 19, 151);
    width: 11rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 3rem;
}

.signUp {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    padding: 0.5rem;
    color:#eee;
    background-color:  rgb(10, 19, 151);
    width: 11rem;
    height: 2rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 3rem;
}

button:hover {
    background-color: #70ec1d;
}


a {
    margin-left: 2.5rem;
}

.img-src img {
    width: 1340px;
    height: 500px;

}

.p {
    margin-left: 20rem;
}

.div {
    color: #eee;
    font-size: 1.3rem;
}

.nav-items a {
    color: #eee;
}

.nav-items a:hover {
    color:#70ec1d;
}

.reset {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

.copy {
    color: #eee;
}


















