* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selector*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

nav {
    background-color: rgb(47, 241, 8);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #c91919;
}

/*button {
    border-radius: 5rem;
    background-color:rgb(47, 241, 8);
    height: 35px;
    text-align: center;
    padding-bottom: 2.5rem;
}*/

nav :hover {
    color: steelblue;
}

.grid {
    display: grid;
}

main{
    grid-column: 2/3;
    margin: 1rem;
    max-width: 840;
}

main h1 {
    border-bottom: 1px solid #ccc;
}

aside{
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/*aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}*/

aside img{
    width: 200px;
    height: auto;
}

main img{
    float: right;
    width: 150px;
    height: auto;
}

p{
    padding: 0;
}

header, footer{
    max-width: 840pxd;
    margin: 0 auto;
}

.pad {
    padding-top: 3rem;
}

/*footer{
    max-width: 840pxd;
    margin: 0 auto;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}*/